html,body 
{

    font-size: 16pt;
    font-family: arial;

    padding: 0;
    margin: 0;

    width: 100%;
    height: 100%;
}

.music
{
    position: absolute;
    top: 2%;
    left:75%;
    right:10%;
    
}

#raccoon
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #3D2020;
    color: #CA6223  ;     
}

body
 {
    background-color: #B2876D  ;
    height: 100%;
    width: 100%;
}

.myclass
{
    width: 100%;
    height: 100px;
}
.iphones7
{
    position: absolute;
    left: 25%;
    top: 35%;
}
h1 {
    left: 30%;
    top: 50%;
    right: 100%;
    background: darkgray;
    margin: 0;
    padding: 0;
    line-height: 100px;
}

ul {
    list-style-type: none;
    margin:0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li a {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
.listclass
{
    font-family: Arial, Helvetica, sans-serif;
    align-content: center;
    

}
.phonesimage
{
    position: relative;
    height: 100%;
    width: 100%;

    
}
.t
{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}
.c
{

font-family: Verdana, Geneva, Tahoma, sans-serif;
color:  black;

}

.phones 
{
    position: absolute;
    left: 2.5%;
    width: 20%;
    top:100%;
    
}
h2
{
font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}
.plans
{
    position: absolute;
    left: 40%;
    width: 20%;
    top: 100%;
}
.plansimage
{
    position: relative;
    height: 100%;
    width: 100%;
    top: 20%;

}
.broadband
{
    position: absolute;
    left: 80%;
    width: 15%;
    top: 100%;
}
 
footer
{
position: relative;
top: 60%;
 }

 footer
 {
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
    color: grey;
    background-color: black;
    text-align: center;
    font-size: 40%;
    bottom: 300%;
 }
 #whitebox
 {
     height:75%;
     background: white;
     width: 100%;
 }
 .footerfblink
 {
     position: absolute;
     left: 5%;
     text-align: left;
 }
 .s7edge_phones
 {
     position: absolute;
     left:3%;
     top: 110%;
     width: 14%;
 }
 .iphones_phones
 {
 position: absolute;
     left:23%;
     top: 110%;
     width: 22%;
 }
 .lg_phones
 {
 position: absolute;
     left: 50%;
     top: 110%;
     width: 21%;
 }
 .htc_phones
{
     position: absolute;
     left: 73%;
     top: 110%;
     width: 25%;
}
.desc
{
    position: absolute;
    top: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.video
{
    position: absolute;
    left: 30%;
    top: 30%
    
}
.products
{
    height: 7.5%;
    position: absolute; 
    left: 5%;
    right: 5%;
    top: 90%;
    background-color: black;
    box-shadow: 3%;
}
.phonebrands
{
    position: relative;
    top:-10%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 100%;
    color: darkgray;
    text-align: center;
    padding-bottom: 3%;

}
.searchbar
{
    position: absolute;
    left:80%;
    top:7.5%;
}
#myacc
{
    text-decoration:none;
    position: absolute;
    left:7%;
    top: 28%;
    font-size: 100%;
    color:  black;
   

}
#accusage
{
    text-decoration: none;
    position: absolute;
    left:7%;
    top: 34%;
    font-size: 60%;
    color:  black;
}
#textclass
{
font-size: small;
}

.graphgif
{
position: absolute;
top: 45%;
left: 7%;
width:20%;
}
#graphcalls
{
    position: absolute;
    top: 45%;
    left: 42%;
    width:20%;

}
#graphtexts
{
    position: absolute;
    top: 45%;
    left: 77.5%;
    width:15%;
}
@media only screen and (max-width: 600px) {
    
.graphgif

{
position: absolute;
top: 30%;
left: 32.5%;
width:25%;
text-align: center;
}
#graphcalls
{
    position: absolute;
    top: 62%;
    left: 32.5%;
    width:25%;
    text-align: center;
    

}
#graphtexts
{
    position: absolute;
    top: 92%;
    left: 35%;
    width:20%;
    text-align: center;
    
}

footer{
    display: none;
}
#whitebox
{
    display: none;
}
ul {
    position: relative;
    top: 100%;
    height: 10%;
}
li a 
{
    float: right;
}
.dontshow
{
    display: none;
}
.searchbar
{
    position: absolute;
    left:2%;
    top:13.5%;
    
}
.textclass
{
    font-size: small;
}
h1 {
    left: 30%;
    top: 50%;
    right: 100%;
    background: darkgray;
    margin: 0;
    padding: 0;
    height: 25%;
}
.video{
    display: none;
}
.products
{
    height: 7%;
    position: absolute; 
    left: 5%;
    right: 5%;
    top: 30%;
    background-color: black;
    box-shadow: 3%;
}
.c
{
    display: none;
}
.phones 
{
    position: absolute;
    left: 31%;
    width: 40%;
    top:27%;
    
}
.plans
{
    position: absolute;
    left: 31%;
    width: 40%;
    top: 55%;
}
.broadband
{
    position: absolute;
    left: 37%;
    width: 25%;
    top: 85%;
}
.t
{
    font-size: medium;
}
.s7edge_phones
{
position:absolute;
top: 40%;
left: 5%;
width: 15%;
}
.iphones_phones
{
position:absolute;
top: 40%;
left:50%;
width: 35%;
}
.htc_phones
{
position:absolute;
top: 72%;
left: 5%;
}
.lg_phones
{
position:absolute;
top: 72%;
}
.darkgrey
{
background-color: darkgrey;
}
}